.page-category {
  min-height: 100vh;
}

.category-title {
  color: white;
  font-size: clamp(2.2rem, 5vw, 3rem);
  font-weight: 900;
  text-align: center;

  /* spacing & layout */
  margin: 2rem auto 3rem;
  line-height: 1.2;

  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

.category-count-text {
  max-width: 60ch;
  margin: 0 auto 2rem;
  text-align: center;
  font-size: clamp(1rem, 1.4vw + 0.5rem, 1.375rem);
  color: #cfcfcf;
  font-weight: 100;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.category-grid {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  gap: clamp(14px, 2vw, 22px);
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin: 2rem;
}
