
.toggle-buttons {
  display: flex;
  gap: 0.5rem;
  margin: 20px;
  flex-wrap: wrap;
}
.toggle-buttons button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.2s;
  color: black;
  font-size: 14px;
}
.toggle-buttons button.active {
  background: black;
  color: white;
  border-color: black;
}

.telescopes-toggle-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* centers horizontally */
  align-items: center; /* aligns to the top vertically */
  min-height: 90vh;
}

.telescopes-ranking-link .telescopes-ranking-link-title {
  padding-right: 20px;
}



.telescopes-toggle-container .telescopes-ranking-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 1em;
  margin: 1rem;
  border-radius: 8px;

  width: 300px
}


.telescopes-toggle-container .post-group a:hover{
  opacity: 0.8;
}