---
import Layout from "../layouts/Layout.astro";
import "../styles/authors.css";
import { Image } from "astro:assets";
import zaneImg from "../assets/images/authors/zane-landers.webp";
import atakanImg from "../assets/images/authors/atakan-saracyakupoglu.webp";
---

<Layout title="Our Authors">
  <main class="authors-page">
    <!-- First author -->
     <h1>Meet our Authors</h1>
    <section class="author">
      <Image
        src={zaneImg}
        alt="Author Zane Landers"
        widths={[160, 200, 260, 320]}
        sizes="(max-width: 768px) 260px, 200px"
      />
      <div class="bio">
        <h2>Zane Landers</h2>
        <p>
          Zane Landers is an amateur astronomer and telescope maker from
          Arizona. Zane builds and regularly observes with Dobsonian telescopes
          as large as 40" in aperture, and grinds his own mirrors. Featured in
          major publications, he advocates for variable star observers and dark
          sky preservation.
        </p>
      </div>
    </section>

    <!-- Third author -->
    <section class="author">
      <Image
        src={atakanImg}
        alt="Atakan Saracyakupoglu"
        widths={[160, 200, 260, 320]}
        sizes="(max-width: 768px) 260px, 200px"
        loading="lazy"
      />
      <div class="bio">
        <h2>Atakan Saracyakupoglu</h2>
        <p>
          I have a MSc degree in computational astrophysics. I like creating scientific-storytelling
          posts.
        </p>
      </div>
    </section>
  </main>
</Layout>
