<form
  action="https://buttondown.com/api/emails/embed-subscribe/saracyakupoglu"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/saracyakupoglu', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.com/refer/saracyakupoglu" target="_blank" rel="noopener noreferrer">Powered by Buttondown.</a>
  </p>
</form>
