---
import '../styles/global.css';  // ← pulls in your global styles
import { site } from '../config/site.js';
const site_description = site.description;

// any other imports or props…
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:description" content={site_description} />
		<title>Astrosyo</title>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="7f187073-b57a-4268-9c53-94c815af943f"></script>
	</head>
	<body>
    <header>
      <nav>
		<a href="/" class="logo">
          <img
            src="/images/shared/logo.webp"
            alt={site.name}
          />
        </a>
        <a href="/">{site.name}</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <!-- footer -->
    <footer class="site-footer container">
      <p>© {new Date().getFullYear()} Astrosyo.</p>
    </footer>

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
